@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #07112d;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
